@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Visitor Management System</title>
    </head>
    <h1 class="display-4">Welcome to Paihia Heritage Park</h1>
    <section>
        <h2>Explore the Park</h2>
        <p>Discover the beauty of our park with its diverse attractions.</p>

        <!-- Add images with appropriate source (src) attribute -->
        <img src="~/images/gathering.jpg" alt="Paihia People gathering" width="700" height="500">
        <p>Paihia People gathering</p>
        <img src="~/images/nature.jpg" alt="Paihia nature" width="700" height="500">
        <p>Paihia Nature</p>
        <img src="~/images/treewalk.jpg" alt="Paihia Tree Walk" width="500" height="600">
        <p>Paihia Tree Walk</p>
        <img src="~/images/garden.jpg" alt="Paihia Garden" width="700" height="550">
        <p>Paihia garden</p>
        <img src="~/images/overview.jpg" alt="Paihia Overview" width="700" height="500">
        <p>Paihia Overview</p>
    </section>
    <section>
        <h2>Upcoming Events</h2>
        <p>Check out our exciting events and plan your visit.</p>

        <!-- Add images for events -->
        <img src="~/images/splash.jpg" alt="Paihia Night Splash" width="700" height="500">
        <p>Paihia Night Splash</p>
        <img src="~/images/Colour.jpg" alt="Paihia Colour Splash" width="700" height="500">
        <p>Paihia Colour Splash</p>
        <img src="~/images/fire works.jpg" alt="Paihia Lunch" width="500" height="500">
        <p>Paihia Lunch</p>
        <img src="~/images/lunch.jpg" alt="Paihia Fire Works" width="400" height="500">
        <p>Paihia Fire Works</p>
        <img src="~/images/DJ.jpg" alt="Paihia Fire Night DJ" width="600" height="500">
        <p>Paihia Fire Night DJ</p>
        <img src="~/images/concert.jpg" alt="Paihia Concert" width="600" height="500">
        <p>Paihia Concert</p>
    </section>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
