@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy for [Paihia]</p>

   <p> Last Updated: [02/12/2023]</p>

<p>
    1. **Introduction**
</p>
<p>
    Welcome to Paihia. This Privacy Policy describes how we collect, use, and protect your personal information when you use our services or interact with our website.
</p>
<p>
    2. **Information We Collect**
</p>
<p>
    - **Personal Information:** We may collect personal information such as names, email addresses, phone numbers, and other relevant details when provided voluntarily.
</p>
<p>
    - **Usage Data:** We may collect information on how you interact with our website, including IP addresses, browser details, and pages visited.
</p>
<p>
    3. **How We Use Your Information**
</p>
<p>
    - We use the collected information to provide and improve our services, respond to inquiries, and personalize user experiences.
</p>
<p>
    - Personal information may be used for marketing communications, provided you have given us consent.
</p>
<p>
    4. **Cookies and Similar Technologies**
</p>
<p>
    - Our website may use cookies and similar technologies to enhance your experience. You can control cookie preferences through your browser settings.
</p>
<p>
    5. **Data Sharing**
</p>
<p>
    - We do not sell or share your personal information with third parties, except as required by law or to fulfill the purposes outlined in this policy.
</p>
<p>
    6. **Security**
</p>

<p>
    - We implement reasonable security measures to protect your personal information. However, no method of transmission or storage is completely secure, and we cannot guarantee absolute security.
</p>
<p>
    7. **Your Choices**
</p>

<p>
    - You can opt-out of receiving marketing communications at any time by following the instructions provided in the communication.
</p>
<p>
    - You have the right to access, correct, or delete your personal information. Contact us for assistance.
</p>

<p>
    8. **Links to Third-Party Websites**
</p>

<p>
    - Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these websites.
</p>
<p>
    9. **Children's Privacy**
</p>

<p>
    - Our services are not directed at individuals under the age of 13. If you believe we have collected information from a child, please contact us to have it removed.
</p>
<p>
    10. **Changes to This Privacy Policy**
</p>

<p>
    - We may update this Privacy Policy periodically. Any changes will be effective upon posting the revised policy on our website.
</p>
<p>
    11. **Contact Us**
</p>

<p>
    - If you have questions about this Privacy Policy, please contact us at 0800100123.
</p>

<p>
    By using our services or accessing our website, you agree to the terms outlined in this Privacy Policy.
</p>

<p>
    Paihia
</p>
<p>
    37 A Hayr Road Threekings
</p>
<p>
    Paihia.nz.ac.com
</p>
<p>
    0800100123
</p>
